USE [master]
GO
/****** Object:  Database [NibrasLegalDB]    Script Date: 2026/01/13 7:49:08 PM ******/
CREATE DATABASE [NibrasLegalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NibrasLegalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NibrasLegalDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NibrasLegalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NibrasLegalDB_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NibrasLegalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NibrasLegalDB]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2026/01/13 7:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Permissions] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026/01/13 7:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserIDname] [nvarchar](50) NOT NULL,
	[UserPass] [nvarchar](256) NOT NULL,
	[UserFirstname] [nvarchar](100) NULL,
	[Userfathername] [nvarchar](100) NULL,
	[UserGFN] [nvarchar](100) NULL,
	[Userfamilyname] [nvarchar](100) NULL,
	[UserFullname] [nvarchar](200) NULL,
	[UserTitleID] [int] NULL,
	[UserMSID] [int] NULL,
	[UserJenderID] [int] NULL,
	[UserNID] [nvarchar](50) NULL,
	[UserDOB] [datetime] NULL,
	[UserCatID] [int] NULL,
	[UserCat] [nvarchar](50) NULL,
	[UserSD] [datetime] NULL,
	[UserED] [datetime] NULL,
	[UserPhN1] [nvarchar](20) NULL,
	[UserPhN2] [nvarchar](20) NULL,
	[Useremail] [nvarchar](100) NULL,
	[UserAddress] [int] NULL,
	[UserAddressdetail] [nvarchar](200) NULL,
	[Usernote] [nvarchar](max) NULL,
	[RcrDt] [datetime] NULL,
	[RcdUpdate] [datetime] NULL,
	[UserCreat] [int] NULL,
	[UserUpdate] [int] NULL,
	[UserPhoto] [varbinary](max) NULL,
	[UserStatlabel] [nvarchar](50) NULL,
	[UserStatlabelID] [int] NULL,
	[RoleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2026/01/13 7:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID], [RoleName], [Permissions]) VALUES (1, N'Admin', N'["users.view","users.edit","users.create","users.delete"]')
INSERT [dbo].[Roles] ([ID], [RoleName], [Permissions]) VALUES (2, N'User', N'["users.view"]')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__B703DC5257A24C18]    Script Date: 2026/01/13 7:49:09 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserIDname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserIDname]    Script Date: 2026/01/13 7:49:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserIDname] ON [dbo].[Users]
(
	[UserIDname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserStatlabelID]    Script Date: 2026/01/13 7:49:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserStatlabelID] ON [dbo].[Users]
(
	[UserStatlabelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [RcrDt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [UserStatlabelID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
